<a href="https://colab.research.google.com/github/nida1khurram/streamlit-demo/blob/main/Lesson1_Arif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bytecode
dis module
indentation

In [ ]:
# Correct indentation
if True:
    print("Hello, World!")
    print("This is a block of code")

Hello, World!
This is a block of code

Python is a Dynamically-Typed Language with Optional Type Hinting

In [ ]:
age: int = input("Enter your age: ")
print(f"Your age is {age}")

print("type(age) = ", type(age))

Input

In [ ]:
age:int = input("Plz Enter your age")
print(f"Your age is : {age}")

Plz Enter your ageabgf
Your age is : abgf

Hello, Alice!

if condition

In [ ]:
age = 18
if age > 18 and age < 30:
  print("you are young")
elif age > 30 and age < 50:
  print("you are old")
else:
    print("you are child")

you are child

function

In [ ]:
def hello():
    print("Hello, World!")

# Call the function
hello()

Hello, World!

In [ ]:
def hello(name="World"):
    print(f"Hello, {name}!")

# Call the function with a custom name
hello("Nida")

# Call the function without a custom name (uses the default)
hello()

Hello, Nida!
Hello, World!

In [ ]:
def hello(name="Nida"):
    print(f"Hello, {name}!")
hello()

Hello, Nida!

In [ ]:
def greet(name):
  print(f"hello from {name}")
  return "print from function"
returned_value = greet("nida")
print(returned_value)

hello from nida
print from function

while loop

In [ ]:
  # while loop
  i = 0
  while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
names = ["a","b","c"]
for name in names:
  print(name)

a
b
c

In [ ]:
# User se pehla number input lena
num1 = float(input("input first no: "))

# User se dusra number input lena
num2 = float(input("input 2 no: "))

# Dono numbers ko add karna
result = num1 + num2

# Result ko print karna
print("sum:", result)

input first no: 7
input 2 no: 0
sum: 7.0

Add two no and str convert into int

In [ ]:
# User se pehla number input lena
num1 = str(input("input first no: "))
num1 :int = int (num1)
# User se dusra number input lena
num2 = str(input("input 2 no: "))
num2 :int = int (num2)
# Dono numbers ko add karna
result = num1 + num2

# Result ko print karna
print("sum:", result)
print(type(result))

input first no: 5
input 2 no: 3
sum: 8
<class 'int'>

func add two float no

In [ ]:
# Function to add two numbers
def add_numbers():
    # User se pehla number input lena
    num1 = float(input("Pehla number daaliye: "))

    # User se dusra number input lena
    num2 = float(input("Dusra number daaliye: "))

    # Dono numbers ko add karna
    result = num1 + num2

    # Result ko return karna
    return result

# Function ko call karna aur result print karna
sum_result = add_numbers()
print("Dono numbers ka sum hai:", sum_result)

Pehla number daaliye: 3
Dusra number daaliye: 7
Dono numbers ka sum hai: 10.0

Function convert str into int and add two nunmbers

In [ ]:

def main():
    print("This program adds two numbers.")
    num1 : str = input("Enter first number: ")
    num1 : int = int(num1)
    num2  : str = input("Enter second number: ")
    num2 : int = int(num2)
    total : int = num1 + num2
    return total
# Function ko call karna aur result print karna
sum_result = main()
print(f"The result is : {sum_result}")

This program adds two numbers.
Enter first number: 5
Enter second number: 2
The result is : 7

In [ ]:
user : str = input("What is your favourite animal: ")
print(f"My favourite animal is : {user}")

What is your favourite animal: cow
My favourite animal is : cow

In [ ]:
def fav_animal():
    # Function description
    print("This program asks the user for their favorite animal and responds accordingly.")

    # User se favorite animal input lena
    user: str = input("What's your favorite animal? ")  # Space after prompt
    return user

# Function ko call karna aur result print karna
animal = fav_animal()
print(f"My favorite animal is also {animal}!")

This program asks the user for their favorite animal and responds accordingly.
What's your favorite animal? **Cow**
My favorite animal is also **Cow**!

In [ ]:
# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * (5 / 9)
    return celsius

# Input: Ask the user for temperature in Fahrenheit
fahrenheit = float(input("Enter temperature in Fahrenheit: "))

# Convert to Celsius
celsius = fahrenheit_to_celsius(fahrenheit)

# Output: Display the result
print(f"{fahrenheit}°F is equal to {celsius:.2f}°C")

Enter temperature in Fahrenheit: 76
76.0°F is equal to 24.44°C

In [ ]:
user = int(input("farenhit"))
convert_f_s : float = float(user)
print(convert_f_s)

farenhit76
76.0